@font-face {
    font-family: 'Centra';
    src: url('../font/CentraNo2-Book.ttf');
}

* {
    font-family: 'Centra';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


#scroll-top {
    display: none;
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    box-sizing: content-box;
}



/* navigation bar  */

.container .nav1 {
    background-color: rgb(250, 170, 0, 1);
    height: 4vh;
}

.container .nav1 li {
    list-style: none;
}

.container .nav2 {
    height: 11vh;
    padding: 0px 50px;
}

.container .nav2 .img-logo {
    height: 6rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container .nav2 .img-logo:hover {
    transform: scale(1.1);
}

.container .nav2 .nav-list {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.container .nav2 .nav-list li {
    position: relative;
    margin-left: 50px;
}

.container .nav2 .nav-list li a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.container .nav2 .nav-list li a:hover {
    background-color: orange;
    color: white;
}

.container .nav2 .nav-list li span {
    font-size: 2rem;
}

.container .nav2 .nav-list .col {
    background-color: orange;
}

.container .nav2 input {
    padding-left: 10px;
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-style: italic;
}

.container .nav2 input:focus {
    box-shadow: 0px 0px 5px gray;
}

.container .nav2 .nav-icon {
    font-size: 1.6rem;
}

.container .nav2 .nav-icon .p1 {
    cursor: pointer;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
}

.container .nav2 .nav-icon .p2 {
    cursor: pointer;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
}


.container .nav2 .nav-icon .p1:hover {
    transform: scale(1.2);
}

.container .nav2 .nav-icon .p2:hover {
    transform: scale(1.2);
}





/* Drop Down Menu  */

.dropdown_menu {
    display: none;
}



.container .nav2 .nav-list li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(230, 230, 230);
}

.dropdown_menu ul {
    display: block;
}

.dropdown_menu li {
    list-style: none;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}

.dropdown_menu li:hover {
    border: 2px solid orange;
}




section .wrapper{
    gap: 1em;
    line-height: 1;
    font-size: 16px;
    padding: 0px 60px;
}

section .wrapper .flex{
    flex-grow: 1;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    padding: 10px;
}

section .flex-box{
    display: flex;
    flex-direction: column;
}

section .flex-box .head{
    padding-bottom: 30px;
}

section .flex-box .product img{
    height: 70px;
}


section .flex-box .button button{

    font-size: 1rem;
    margin-left: 1650px;
}