@font-face {
    font-family: 'Centra';
    src: url('../font/CentraNo2-Book.ttf');
}

* {
    font-family: 'Centra';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* body{
    background-color: red;
} */


#scroll-top {
    display: none;
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    z-index: 100;
    box-sizing: content-box;
}




/* navigation bar  */

.profile-pic{
    height: 40px;
    border-radius: 100%;
    cursor: pointer;

}

.container .nav1 {
    background-color: rgb(250, 170, 0, 1);
    height: 4vh;
}

.container .nav1 li {
    list-style: none;
}

.container .nav2 {
    height: 11vh;
    padding: 0px 50px;
}

.container .nav2 .img-logo {
    height: 6rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.container .nav2 .img-logo:hover {
    transform: scale(1.1);
}

.container .nav2 .nav-list {
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.container .nav2 .nav-list li {
    position: relative;
    margin-left: 50px;
}

.container .nav2 .nav-list li a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.container .nav2 .nav-list li a:hover {
    background-color: orange;
    color: white;
}

.container .nav2 .nav-list li span {
    font-size: 2rem;
}

.container .nav2 .nav-list .col {
    background-color: orange;
}

.wrapper{
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
}

.search-input input{
    padding-left: 10px;
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-style: italic;
}

.search-input input:focus{
    box-shadow: 0px 0px 5px gray;
}

.search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    width: 480px;
    position: absolute;
    background: #fff;
    top: 13%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background: rgb(255, 180, 40);
}



/* .container .nav2 input {
    padding-left: 10px;
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-style: italic;
}

.container .nav2 input:focus {
    box-shadow: 0px 0px 5px gray;
} */

.container .nav2 .nav-icon .p1:hover {
    transform: scale(1.2);
}

.container .nav2 .nav-icon .p2:hover {
    transform: scale(1.2);
}

.sub-menu-wrap{
    border-radius: 10px;
    position: absolute;
    top: 12%;
    right: 3.5%;
    width: 300px;
    text-align: center;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    border-radius: 10px;
    border: 2px solid orange;
    box-shadow: 0 0 10px black;
    background: #fff;
    padding:20px;
    margin: 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500;;
}

.user-info img{
    width: 60px;
    border-radius: 100%;
    margin-right: 15px;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu .fa-solid{
    font-size: 1.2rem;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    width: 100%;
}

.sub-menu-link i{
    width: 40px;
    background: #e5e5e5;
    border-radius: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.sub-menu-link span{
    font-size: 22px;
    font-weight: 900;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    color: orange;
    font-weight: 600;
}















/* Drop Down Menu  */

.dropdown_menu {
    display: none;
}



.container .nav2 .nav-list li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(230, 230, 230);
}

.dropdown_menu ul {
    display: block;
}

.dropdown_menu li {
    list-style: none;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
}

.dropdown_menu li:hover {
    border: 2px solid orange;
}










/* main  */

main .main-top-head {
    margin-top: 50px;
}

main .lol {
    width: 8%;
    border-top: 2px solid orange;
    text-align: center;
    margin: auto;
}









/* section  */

section {
    margin: 50px 20px;
    height: 6000px;
}

section div img {
    height: 600px;
}

section div h1 {
    font-style: italic;
}

section p {
    margin: 20px;
}

section p img {
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

section button {
    margin-left: 200px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgb(31, 31, 31);
    color: white;
    cursor: pointer;
    border: 0px;
    font-weight: 900;
    transition: 0.3s ease-in-out;
}

section button:hover {
    background-color: orange;
    color: black;
}

section .wrapper{
    gap: 1em;
    line-height: 1;
    font-size: 16px;
    padding: 0px 60px;
}

section .wrapper .flex{
    flex-grow: 1;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    padding: 10px;
}

section .flex-box{
    display: flex;
    flex-direction: column;
}

section .flex-box .head{
    padding-bottom: 30px;
}

section .flex-box .product img{
    height: 70px;
}


section .flex-box .button button{

    font-size: 1rem;
    margin-left: 1650px;
}





/* Singup Banner  */

.signup {
    background: url('../img/signup_banner.jpg') no-repeat center center/cover;
    height: 15vh;
    padding: 0px 0px;
}

.signup-text {
    padding: 50px 50px;
}


.signup h2,
.signup p {
    color: white;
}

.signup-box {
    margin-right: 300px;
}

.signup-box .email {
    padding-left: 20px;
    width: 30rem;
    height: 2rem;
    font-size: 1rem;
    outline: none;
}

.signup-box .submit {
    margin-left: 10px;
    width: 10rem;
    height: 2.2rem;
    background-color: orange;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}
















/* Footer  */


footer {
    background-color: black;
    color: white;
    height: 10vh;
    padding: 0px 50px;
}

footer p {
    font-size: 1.2rem;
}

footer .icons {
    margin: 0px 60px;
    font-size: 2rem;
}

footer i {
    padding: 10px;
}

footer img {
    margin-left: 90px;
}

.fa-square-facebook,
.fa-github,
.fa-instagram,
.fa-discord {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.fa-square-facebook:hover {
    color: rgb(72, 115, 255);
    transform: scale(1.2);
}

.fa-github:hover {
    color: orange;
    transform: scale(1.2);
}

.fa-instagram:hover {
    color: #E1306C;
    transform: scale(1.2);
}

.fa-discord:hover {
    color: rgb(153, 0, 255);
    transform: scale(1.2);
}